body {
    display: flex;
    justify-content: center;
    background-image: url('/240_F_549863991_6yPKI08MG7JiZX83tMHlhDtd6XLFAMce.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

#signup_container {
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 30px;
    width: 340px;
    height: 430px;
    background-color: rgba(35, 33, 53, 0.1); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 20px rgba(12, 12, 12, 0.8);
}

#signup_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup {
    margin-bottom: 25px;
    margin-top: 35px;
}

input {
    width: 250px;
    height: 20px;
    margin-bottom: 5px;
    border: none;
    padding-bottom: 10px;
    padding-left: 30px;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: inherit; 
    transition: all 0.3s ease;
    color: white;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid rgb(60, 60, 197);
    transition: 0.1s ease;
}

input::placeholder {
    color:darkgrey;
}

.input_container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
}

.icon {
    position: absolute;
    left: 4px;
    top: 2px;
}

#btn_register {
    margin-top: 5px;
    width: 180px;
    height: 32px;
    border-radius: 16px;
    border-width: 0px;
    cursor: pointer;
    margin-bottom: 15px;
    background-color:rgb(60, 60, 197);
    color: white;
    font-size: 15px;
}

#have_account{
    font-size: 14px;
}

#login {
    color: cornflowerblue;
}

.error {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.error.show {
    visibility: visible; 
}


